<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bidone">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 인터넷 이용을 위해 추가 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bidone"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".DetailalarmActivity"
            android:exported="false" />
        <activity
            android:name=".detailAlarm"
            android:exported="false" />
        <activity
            android:name=".mainrequestActivity"
            android:exported="false" />
        <activity
            android:name=".mainboardActivity"
            android:exported="false" />
        <activity
            android:name=".WritingdialogActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" /> <!-- 위의 코드로 삼성 휴대폰으로 연동할 때 오류 해결 -->
        <activity
            android:name=".RequestchatActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".RequestwritingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".RequestboardActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".RealtimeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".FavoriteActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".WritingboardActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".NaviActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Find_Pw"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Find_Id"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MembershipActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>